{% extends 'base.html' %}
{% block body %}
<div class="jumbotron my-3 mx-5">
    <h3 class="display-4">{{movie.title}}</h3> <p>{{movie.title_en}}</p>
    <p class="lead">{{movie.open_date}}</p>
    <hr class="my-4">
    <p>{{movie.description}}</p>
    <a href="{% url 'movies:index' %}" class="btn btn-primary">목록</a>
</div>
{% if user.is_authenticated%}
<div class="alert alert-light" role="alert">
  <form action="{% url 'movies:review_create' movie.id %}" method="POST">
    {% csrf_token %}
    {{review_form.as_p}}
    <input class='btn btn-success' type="submit" value="제출">
  </form>    
</div>
{% endif %}

{% for review in movie.review_set.all %}
  <div class="alert alert-light" role="alert">
    <div class="d-flex align-items-center">리뷰 : {{review.content}}
    <span class="badge badge-dark">평점 : {{review.score}}</span></div>
  </div>
<p>{{review.users}}</p>
{% if user == review.users %}
  <div class="text-right mr-3">
    <a href="{% url 'movies:review_delete' movie.id review.id %}" class="btn btn-danger">삭제</a>
  </div>
{% endif %}


{% endfor %}
{% endblock %}